{% extends 'base.html.twig' %}
{% block title %}
    Mes commandes
{% endblock %}

{% block body %}
    <h2>Mes commandes </h2>
    <table class="table">
        <thead>
        <tr>
            <th>Numéro</th>
            <th>Adresse de commande</th>
            <th>Date de commande</th>
            <th>Produits</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for purchase in purchases %}
            <tr>
                <td>{{ purchase.id }}</td>
                <td>{{ purchase.address }}<br>{{ purchase.postalCode }}<br>{{ purchase.city }} </td>
                <td>{{ purchase.purchasedAt | date ('d:m:Y H:i') }}</td>
                <td>
                   <ul>
                    {% for item in  purchase.purchaseItems %}
                   <li>{{ item.quantity }} x {{ item.productName }} ({{ item.ProductPrice | amount}}) </li>
                    {% endfor %}
                   </ul>
                </td>
                <td>{{ purchase.total | amount }} </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3">Total des commndes:</td>
            <td colspan="3">{{ 30000 | amount}}</td>
        </tr>
        </tfoot>
    </table>

{% endblock %}