{% extends 'base.html.twig' %}

{% block title %}
    Inscription
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h2 class="text-info">Formulaire d'inscription</h2>
            <hr>
            {{ form_start(formView) }}

            {{ form_errors(formView) }}

            {{ form_row(formView.fullName) }}

            {{ form_row(formView.email) }}

            {{ form_row(formView.password) }}

            <button type="submit" class="btn btn-primary">
                <i class="fas fa-save"></i>
                S'inscrire
            </button>
            ou bien<a href=" {{ path('authentification_login') }}" class="link"> se connecter</a>
            {{ form_end(formView) }}
        </div>
    </div>
{% endblock %}
