{% extends 'base.html.twig' %}

{% block title %}
    Inscription
{% endblock %}

{% block body %}

    <h2>Formulaire d'inscription</h2>
    <hr>
    {{ form_start(formView) }}

    {{ form_errors(formView) }}

    {{ form_row(formView.fullName) }}

    {{ form_row(formView.email) }}

    {{ form_row(formView.password) }}

    <button type="submit" class="btn btn-primary">
        <i class="fas fa-save"></i>
        S'inscrire
    </button>
    ou bien<a href=" {{ path('authentification_login') }}" class="link"> se connecter</a>
    {{ form_end(formView) }}

{% endblock %}
