{% extends 'base.html.twig' %}

{% block title %}
    Connexion
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4 ">
                <h1 class="text-info">Mot de passe oublié</h1>
                <hr>
  {#              {% if error %}
                    <div class="alert alert-danger">
                        {{ error.message }}
                    </div>
                {% endif %}  #}
                {{ form_start(formView) }}
                {{ form_widget(formView) }}
                <div class="mt-1">
                <button type="submit" class="btn btn-success">Envoyer</button>
                <a href="{{ path('register') }}" type="button" class="btn btn-outline-primary">Retour</a>
                </div>
                {{ form_end(formView) }}
            </div>
        </div>
    </div>
{% endblock %}





