{% extends 'base.html.twig' %}

{% block title %}
    Connexion
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1>Connexion</h1>
            <hr>
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.message }}
                </div>
            {% endif %}
            {{ form_start(formView) }}
            {{ form_widget(formView) }}
            <button type="submit" class="btn btn-success">Connexion</button>
            ou bien <a href="{{ path('register') }}" class="link">s'inscrire</a>
            {{ form_end(formView) }}
        </div>
    </div>
{% endblock %}





